// header
.header {
  background: $tertiary;
  padding: 0px 88px;
  @include desktop{
    padding: 0 39px;  
  }
  @include pad {
    padding: 0;
  }    
  &-nav {
    display: flex;
    @include pad {
      flex-direction: column;
    }      
    .logo {
    padding: 30px 0;
    @include pad{
      padding: 10px 0;
    }
      img{
        @include pad{
          width: 48px;
        }        
      }
    }
  }
  .nav {
    flex-wrap: wrap;
    @include pad {
      width: 100%;
    }   
    .navbar {
      padding: 0 32px;
      display: block;    
      @include pad {
        text-align: center;
        padding: 0 20px;
        width: 50%; 
        border: 1px solid #fff;
      }
      &-link {
        color: $secondary;
        padding: 8px 0px;
        font-size: $font-size-md;   
          &:hover {
            @include opacity-hover;
          }
      }   
    } 
  }
}
// footer
.footer{
  background: $tertiary;
  padding: 32px 0;
  .footer-content {
    padding-bottom: 16px;
    border-bottom: 1px solid #fff;
    .nav {
      padding: 26px 48px 0 0;
      @include desktop {
        padding: 0 40px 0 0;
      }
      @include pad{
        display: none;
      }
    }
    .nav-link {
      color: $secondary;
      font-size: $font-size-sm;
      padding: 0 0;
        &:hover {
          @include opacity-hover;
        } 
    }    
    .navbar{
      padding: 0 0 0 32px;
    }
    .icon-link {    
      &:hover {
        @include opacity-hover;
      }
      img{
        @include desktop{
          width: 24px;
          height: 24px;
        }
        @include mobile{
          width: 24px;
          height: 24px;
        }
      }   
    }
    .address-link {
      font-size: $font-size-3xl;
      padding-top: 24px;
      @include desktop {
        font-size: $font-size-md;
        padding: 0;
      }
      .address-icon{
        width: 64px;
        height: 64px;
        padding-right: 20px;
        @include desktop{
          width: 30px;
          height: auto;
          padding-right: 10px;
        }
      }
      a {
        color: $secondary;
        &:hover {
          @include opacity-hover;
        } 
      }
    } 
  }
  .copyright {
    padding-top: 32px;
    color: $secondary;
    @include pad{
      padding-top: 14px;
      font-size: 14px;
      flex-direction: column;
    }
    &-menu {
      @include pad {
        flex-direction: column;
        text-align: left;
      }
      .items {
      color: $secondary;
      padding-left: 48px;
      @include pad{
        padding: 14px 0 0 0;       
      }
    }
    
    }
  } 
}