.container{
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 39px;
  
  @include desktop {
    max-width: 992px;
    padding: 0 39px;
  }

  @include pad {
    max-width: 767px;
    padding: 0 39px;
  }

  @include pad-sm {
    max-width: 576px;
    padding: 0 39px;
  }

  @include mobile {
    max-width: 375px;
    padding: 0 15px;
  }
}