// 字體大小
$font-base: 16px;
$font-size-6xl: $font-base*4.5; //72px
$font-size-5xl: $font-base*4; //64px
$font-size-4xl: $font-base*3; //48px
$font-size-3xl: $font-base*2.25; //36px
$font-size-2xl: $font-base*2; //32px
$font-size-xl: $font-base*1.75; //28px
$font-size-lg: $font-base*1.5; //24px
$font-size-md: $font-base*1.25; //20px
$font-size-sm: $font-base; //16px 
$font-size-xs: $font-base*0.5;// 8px

//字體
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 700;
$font-weight-bold: 1000;

//顏色
$primary: #650300;
$secondary: #FFFFFF;
$tertiary: #AA0601;
$dark: #000;
$text-color: #707070;
$page-color: #555555;
$dark-color: #212529;




